<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>包车报名后台管理</title>
</head>
<link rel="stylesheet" href="../static/css/layui.css">
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item "><a href="/admin/info">数据录入</a></li>
    <li class="layui-nav-item layui-this"><a>数据列表</a></li>
    <span class=""><font
            style="font-size: 13px;color: #888888;margin-left: 40px;padding-top: 70px">报名总数：[[${count}]]</font></span>
</ul>

<blockquote class="layui-elem-quote layui-quote-nm">
    <table class="layui-table layui-anim layui-anim-up">
        <thead>
        <th>姓名</th>
        <th>费用状态</th>
        <th>用户状态</th>
        <th>操作</th>
        </thead>
        <tr th:each="user:${users}">
            <td>[[${user.name}]]</td>
            <td>[[${user.status}]]</td>
            <td>[[${user.deled}]]</td>
            <th><a th:href="@{/admin/editUser(id=${user.id})}" class="layui-btn layui-btn-sm">修改</a></th>
        </tr>

    </table>
</blockquote>
<script th:src="@{../static/jquery-2.1.1.min.js}"></script>
<script th:src="@{../static/layui.all.js}"></script>
</body>
</html>